spring:
  application:
    name: notification-server

  cloud:
    function:
      definition: consumeNotification
    stream:
      bindings:
        consumeNotification-in-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}directory.update
powsybl-ws:
  autoconfigure:
    base-exception-handler:
      enable: false
